<nav class="mobile">
  <ul class="first-level">
    <li ><a href="">Work</a>
      <ul class="second-level">
        {% for page in site.pages %}
          {% if page.tag == 'work' %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <!-- <li><a href="">Experiments</a></li> -->
    <li><a href="">Experience</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</nav>

<header class="site-header">   
  <div class="wrapper">    
    <nav class="desktop section">      
      <ul class="first-level col span-9-12">
        <li class="dropdown"><a href="">Work</a>
          <ul class="second-level">
            {% for page in site.pages %}
              {% if page.tag == 'work' %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        <!-- <li><a href="">Experiments</a></li> -->
        <li><a href="">Experience</a></li>
        <li><a href="">Contact</a></li>
      </ul>
        
      <div class="col span-9-12 sml-span-1-2">
        <div class="burger-icon">
          <div class="slices">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class="x">
            <span></span>
            <span></span>
          </div>
        </div>  
      </div>
      

      <div class="logo col span-3-12 sml-span-1-2">
        <img src="{{ prepend: site.baseurl }}/images/logo.svg" alt="">
      </div>
    </nav>
  </div>
</header>