---
title: 'Weirdo Workshop'
description: ''
author: 'francis vargas'
date: 02/17/2016
image: 
url: 'http://www.joonxz.github.io/posts/nightagency'
type: article
_content: false
_render: true
---


extends ../../views/layout

block content

  .content-wrap.pure-g
    .pure-u-1
      h1 Weirdo Workshop
      .banner
        img(src="", alt="")
        p.caption
          | Tech Used:

      
      p
        | blah blah blah

  
