---
title: 'Act Any Age'
description: ''
author: 'francis vargas'
date: '02/17/2016'
image: 
url: 'http://www.joonxz.github.io/posts/act-any-age'
type: article
_content: false
_render: true
---

extends ../../views/layout

block content

  h1 Kiehls - Act Any Age
  
  img(src="http://dummyimage.com/4:3x600", alt="")
  
  :marked
    **Tech Used**: Jekyll, JS, SASS, and Ruby
