
header
  .pure-g
    .pure-u-3-12
      a(href="../") joonxz.github.io
        //- img(src="", alt="logo")
    .pure-u-9-12
      nav
        ul
          li 
            a(href="#") Work
            ul 
              li: a(href='../posts/works/nightagency.html') Nightagency
              li: a(href='../posts/works/spotify.html') Spotify
              li: a(href='../posts/works/weirdo-workshop.html') Weirdo Workshop
              li: a(href='../posts/works/act-any-age.html') Act Any Age
              li: a(href='../posts/works/kiehls-in-space.html') Kiehls In Space
              li: a(href='../posts/works/masha.html') Masha
              li: a(href='../posts/works/louis-york.html') Louis York
          li
            a(href="#") Experiments
            ul
              li: a(href='../posts/experiments/act-any-age.html') Act Any Age
              li: a(href='../posts/experiments/act-any-age.html') Act Any Age
              li: a(href='../posts/experiments/act-any-age.html') Act Any Age
              li: a(href='../posts/experiments/act-any-age.html') Act Any Age
          li
            a Experience
          li
            a Contact
          li
            a Articles

