extends layout

block content
  .bg
    .wrapper
      //- img(src="", alt="")
      :marked
        # In The Meantime...
        Client Work at Nightagency
        - [Nightagency](http://nightagency.com)
        - [Spotify-Change](https://spotify-change.com)
        - [Act Any Age Campaign](http://actanyage.com)
        - [In Space Campaign](http://kiehlsinspace.com)
        - [Masha](http://thenameismasha.com)
        - [Louis York](http://louisyork.com)
       
        Just Because
        - [Snake Game](http://joonxz.github.io/canvas-games) [[CODE](https://github.com/joonxz/canvas-games)]
        - [Mall Dodger Game](http://nightagency.github.io/malldodger/)
        - [Parallax](http://joonxz.github.io/parallax-tests/) [[CODE](https://github.com/joonxz/parallax-tests)]
        - Personal Site [[CODE](https://github.com/joonxz/joonxz.github.io)]

  
