---
title: Francis Vargas portfolio
description: 'My current weaving in the web within Night Agency and personal experiments'
author: 'francis vargas'
date: '02/17/2016'
image: ''
src: 'http://www.joonxz.github.io'
type: article
_content: false
_render: true
---

extends layout


block content
  h1 Agency Works
  .pure-g
    for post in site.posts.all()
      .pure-u-1-2
        img(src="", alt= post.title + ' thumbnail')
        h2= post.title