doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='My current weaving in the web within Night Agency and personal experiments')
    meta(name='author', content= "Francis Vargas")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= 'Francis Vargas portfolio'
    != css()

  body
    block content
    
    != js()