doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    title= post.title
    meta(name='description', content= post.description)
    meta(name='og:title', content= post.title)
    meta(name='og:url', content= post.url)
    meta(name='og:description', content= post.description)
    meta(name='og:image', content= post.image)
    meta(name='og:type', content= post.type)
    meta(name='og:site_name', content='francisvargas.com')
    meta(name='author' content='Francis Vargas')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet", href="/css/master.css")

  body
    include _header
    
    block content
    
    include _footer

    != js()