nav {
  li {
    list-style-type: none;
    a:hover {
      text-decoration: none;
    }
  }
}

nav.desktop {
  ul {
    margin: 0;
    a {
      color: $base-black;
      display: block;
      font-size: 24px;
      padding: 5px 10px;
    }
    
    a:visited {
      color: $base-black;
    }
  }

  .first-level {
    position: relative;
    padding: 30px 0;
    
    >li,
    a {
      @extend .animate;
    }

    >li {
      display: inline-block;

      &:hover {
        background-color: $base-red;
        a {
          color: #fff;
        }

        &.dropdown .second-level {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    
    // First-level mobile styles
    @include respond-small {
      display: none;
    }

    .second-level {
      background-color: $base-red;
      opacity: 0;
      padding: 10px 20px 0 0;
      position: absolute;
      min-width: 200px;
      text-decoration: none;
      visibility: hidden;
      z-index: 5;

      @extend .animate;

      a {
        color: #fff;
        font-size: 20px;
        padding: 0 10px 10px;

        &:hover {
          background-color: $base-red;
          font-weight: bold;
        }
      }
    }
  }

  .logo {
    display: inline-block;
    padding: 24px 20px 24px 0;
    text-align: right;

    img {
      width: 56px;
    }
  }
}

nav.mobile {
  background-color: rgba($base-gray, 0.7);
  box-sizing: border-box;
  padding: 150px 0;
  position: absolute;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5;

  @extend .animate;
  
  &.active {
    opacity: 1;
    visibility: visible;
  }

  ul.first-level li a {
    color: $base-black;
    font-size: 26px;

    &:hover {
      font-weight: bold;
    }
  }

  ul.first-level ul.second-level {
    margin-left: 20px;
    li a {
      color: $base-black;
      font-size: 24px;

    }
  }
}


.burger-icon {
  margin: 38px 20px;
  position: relative;
  height: 26px;
  width: 35px;
  z-index: 10;
  
  .slices, 
  .x {
    position: relative;
  }

  span {
    background-color: $base-black;
    display: block;
    position: absolute;
    height: 6px;
    width: 35px;

    @extend .animate;
  }

  .slices span {
    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {;
      top: 20px;
    }
  }

  &.active {
    .slices span {
      opacity: 0;

      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        top: 5px;
        visibility: hidden;
      }

      &:nth-child(3) {
        top: 10px;
      }
    }

    .x span {
      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
  
  .x span {
    top: 10px;
  }
}
