---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent Works</h1>

  <ul class="post-list section">
    {% for page in site.pages  %}
      {% if page.type == 'project' %}
        <li class= "col span-4-12 sml-span-1-2 proj-thumb">
           <a href="">
              <img src="../images/{{ page.proj_thumb }}" alt="">
              <div class="overlay">
                <h2>{{ page.title }}</h2>
              </div>
           </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>{% endcomment %}

</div>
